################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WindowsFormsApp1/FileContentIndex
/WindowsFormsApp1/bin/Debug/app.publish
/WindowsFormsApp1/Properties
